
{% block rme_overview %}
<div id="rmoverview" class="carousel slide pt-3" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#rmoverview" data-slide-to="0" class="active"></li>
      <li data-target="#rmoverview" data-slide-to="1"></li>
      <li data-target="#rmoverview" data-slide-to="2"></li>
      <li data-target="#rmoverview" data-slide-to="3"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner bg-light">
      <div class="carousel-item active text-center">
        <div>
          <div class="chart-container" style="height:45vh; width:30%; float:left; ">
            <canvas id="nbfinishedunfinishedexecutions-chart"></canvas>
          </div>
          <div class="chart-container" style="height:45vh; width:30%; float:left; ">
            <canvas id="nbresultsdifference-chart"></canvas>
          </div>
          <div class="chart-container" style="height:45vh; width:30%; float:right; ">
            <canvas id="exceptionerrornb-chart"></canvas>
          </div>
        </div>
      </div>
      <div class="carousel-item text-center">
        <div>
          <div class="chart-container" style="height:45vh; width:30%; float:left; ">
            <canvas id="nbexecutioncount-chart"></canvas>
          </div>
          <div class="chart-container" style="height:45vh; width:30%; float:left; ">
            <canvas id="nboutputcellcount-chart"></canvas>
          </div>
          <div class="chart-container" style="height:45vh; width:30%; float:left; ">
            <canvas id="validitynotebooksnb-chart"></canvas>
          </div>
        </div>
      </div>
      <div class="carousel-item text-center">
        <div>
          <div class="chart-container" style="height:45vh; width:30%; float:right; ">
            <img src="/celltype/{{repository_id}}" alt="Types of cells in Notebooks in the Repository" height="100%">
          </div>
          <div class="chart-container" style="height:45vh; width:30%; float:left; ">
            <img src="/nblanguage/{{repository_id}}" alt="Programming Language of Notebooks in the Repository" height="100%">
          </div>
          <div class="chart-container" style="height:45vh; width:30%; float:left; ">
            <img src="/nblanguageversion/{{repository_id}}" alt="Programming Language Version of Notebooks in the Repository" height="100%">
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#rmoverview" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#rmoverview" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
{% endblock %}
